<form id="forgetForm" name="forgetForm" novalidate >
<h3>Enter your email address where you would like to receive the reset password</h3>
    <div class="row">
        <div class="col-sm-2">
            <label>Email Address</label>
        </div>
        <div class="col-sm-4">
            <input type="email" value="" ng-required="true" name="emailaddress" ng-model="forget.emailaddress">
            <span style="color:red;" ng-show="forgetForm.emailaddress.$dirty && forgetForm.emailaddress.$invalid">
                <span ng-show="forgetForm.emailaddress.$error.required">Invalid Email</span>
                <span ng-show="forgetForm.emailaddress.$error.email">Invalid Email address</span>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <a href="#/">Back</a>
        </div>
        <div class="col-sm-4">
            <button ng-disabled="forgetForm.$pristine || forgetForm.$dirty && forgetForm.$invalid" ng-click="submit()">Submit</button>
        </div>
    </div>

</form>